:root {
  --g-blog-content-width: 740px;
  --g-code-bg: #282a35;
}

:root {
  --content-width: var(--g-blog-content-width);
  --c-brand: #3eaf7c;
  --c-brand-light: #4abf8a;
  --c-bg: #ffffff;
  --c-bg-light: #f3f4f5;
  --c-bg-lighter: #eeeeee;
  --c-bg-dark: #ebebec;
  --c-bg-darker: #e6e6e6;
  --c-bg-navbar: var(--c-bg);
  --c-bg-sidebar: var(--c-bg);
  --c-bg-arrow: #cccccc;
  --c-text: #2c3e50;
  --c-text-accent: var(--c-brand);
  --c-text-light: #3a5169;
  --c-text-lightest: #6a8bad;
  --c-text-quote: #999999;
  --c-border: #eaecef;
  --c-border-dark: #dfe2e5;
  --c-tip: #42b983;
  --c-tip-bg: var(--c-bg-light);
  --c-tip-title: var(--c-text);
  --c-tip-text: var(--c-text);
  --c-tip-text-accent: var(--c-text-accent);
  --c-warning: #ffc310;
  --c-warning-bg: #fffae3;
  --c-warning-bg-light: #fff3ba;
  --c-warning-bg-lighter: #fff0b0;
  --c-warning-border-dark: #f7dc91;
  --c-warning-details-bg: #fff5ca;
  --c-warning-title: #f1b300;
  --c-warning-text: #746000;
  --c-warning-text-accent: #edb100;
  --c-warning-text-light: #c1971c;
  --c-warning-text-quote: #ccab49;
  --c-danger: #f11e37;
  --c-danger-bg: #ffe0e0;
  --c-danger-bg-light: #ffcfde;
  --c-danger-bg-lighter: #ffc9c9;
  --c-danger-border-dark: #f1abab;
  --c-danger-details-bg: #ffd4d4;
  --c-danger-title: #ed1e2c;
  --c-danger-text: #660000;
  --c-danger-text-accent: #bd1a1a;
  --c-danger-text-light: #b5474d;
  --c-danger-text-quote: #c15b5b;
  --c-details-bg: #eeeeee;
  --c-badge-tip: var(--c-tip);
  --c-badge-warning: #ecc808;
  --c-badge-warning-text: var(--c-bg);
  --c-badge-danger: #dc2626;
  --c-badge-danger-text: var(--c-bg);
  --c-blockquote-c: #304455;
  --c-blockquote-b: #f8f8f8;
  --c-blockquote-bef: #ff6969;
  --c-inline-code-color: #c5411f;
  --c-inline-code-color-bg: #f8f8f8;
  --c-code-pre-header: 30px;
  --c-code-pre-header-bg: #151524;
  --t-color: 0.3s ease;
  --t-transform: 0.3s ease;
  --font-family-code: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  --code-hl-bg-color: rgba(0, 0, 0, 0.66);
  --code-ln-color: #9e9e9e;
  --code-ln-wrapper-width: 3.5rem;
  --code-type-text: #79799b;
  --code-line-br: #121522;
  --code-line-br-row: #000000;
  --c-opacity: 0;
  --copy-opacity:0;
  --c-pre-con-mh:1000px;
}

.markdown-dracula {
  position: relative;
  padding: 1.5rem;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 2rem 2.5rem;
  padding-top: 0;
  overflow-x: hidden;
  * {
    position: relative;
    z-index: 2;
    word-wrap: break-word;
  }

  .header-anchor {
    float: left;
    font-size: 0.85em;
    margin-left: -0.87em;
    padding-right: 0.23em;
    margin-top: 0.125em;
    opacity: var(--c-opacity);
    text-decoration: none !important;
  }

  ol,
  ul {
    padding-left: 1.2em;
  }
  ul > li {
    list-style: disc !important;
  }
  ol > li {
    list-style: auto !important;
  }
  ol,
  p,
  ul {
    margin: 16px 0;
    line-height: 1.7;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    z-index: 1;
    // cursor: pointer;
    &:hover {
      --c-opacity: 1;
    }
  }

  a {
    text-decoration: none;
    z-index: 7;
    &:hover {
      text-decoration: underline;
    }
  }

  .markdown-image {
    max-width: 100%;
  }

  .inline-code {
    font-family: var(--font-family-code);
    color: var(--c-inline-code-color);
    padding: 0.25rem 0.5rem;
    margin: 0;
    font-size: 0.85em;
    font-weight: 800;
    background-color: var(--c-inline-code-color-bg);
    border-radius: 3px;
    overflow-wrap: break-word;
    transition: background-color var(--t-color);
  }

  pre {
    position: relative;
    line-height: 1.375;
    padding: 1.5rem;
    margin: 0.85rem 0;
    border-radius: 6px;
    code {
      z-index: 4;
      // padding: 0;
      // margin: 0;
      // border-radius: 0;
      background-color: transparent;
      // transition: background-color var(--t-color);
    }
  }
  .code-pre-box {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    background: var(--background);
    &:hover {
      --copy-opacity:1;
    }
    .code-pre-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      height: var(--c-code-pre-header);
      border-bottom: 1px solid var(--code-line-br);
      background-color: var(--c-code-pre-header-bg);
      .code-pre-header-tools {
        $colors: (
          red: #f05751,
          yellow: #f7c558,
          green: #50d155
        );
        display: flex;
        align-items: center;
        padding: 0 4px;
        .code-pre-header-tool {
          width: 12px;
          height: 12px;
          margin: 0 4px;
          border-radius: 50%;
          background-color: #fff;
        }
        @each $color, $value in $colors {
          .#{"#{$color}"} {
            background-color: #{"#{$value}"};
            cursor: pointer;
          }
        }
      }
      .copy-box {
        display: flex;
        align-items: center;
        .copy {
          width: 20px;
          height: 20px;
          margin-right: 8px;
          transform: scale(var(--copy-opacity));
          transition: all .3s cubic-bezier(0.66, 0.01, 0, 1.26);
          fill: #54546e;
          cursor: pointer;
          &:active {
            fill: #fff;
          }
        }
        .code-tyoe {
          flex: 1;
          color: var(--code-type-text);
          transition: all 0.3s ease;
          font-size: 1rem;
          margin-right: 1rem;
          max-width: 100px;
          overflow: hidden;
        }
      }
    }

    .code-pre-container {
      display: flex;
      width: 100%;
      height: auto;
      max-height: var(--c-pre-con-mh);
      overflow: hidden;
      transition: max-height 0.5s ease-in-out;
      .code-markdown {
        flex: 1;
        margin-bottom: 0.01rem;
        background-color: transparent;
        overflow-y: hidden;
      }
      .code-line-container {
        width: 2rem;
        border-right: 2px solid var(--code-line-br);
        padding: 1.5rem 0 1.5rem 1.5rem;
        margin: 0;
        border-radius: 0;
        .code-line {
          display: block;
          color: var(--c-text-quote) !important;
        }
      }

      .code-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        line-height: 1.5rem;
        .code-mask-row {
          background-color: var(--code-line-br-row);
          height: 1.5rem;
        }
      }
    }
  }

  @media (max-width: 419px) {
    pre,
    .code-pre-box {
      margin: 0.85rem -2.5rem;
      border-radius: 0;
    }
    .code-pre-header {
      border-radius: 0;
    }

    .custom-container {
      pre {
        margin: 0;
        border-radius: 6px;
      }
    }
  }

  .custom-container {
    margin: 1rem 0;
    padding-left: 0;
    padding: 0.1rem 1.5rem;
    border-left-width: 0.5rem;
    border-left-style: solid;
    .custom-container-title {
      margin-bottom: 0;
      font-weight: 800;
    }
  }

  $alert-colors: (
    tip: (
      border: var(--c-tip),
      bg: var(--c-tip-bg),
      text: var(--c-tip-text)
    ),
    warning: (
      border: var(--c-warning),
      bg: var(--c-warning-bg),
      text: var(--c-warning-text)
    ),
    danger: (
      border: var(--c-danger),
      bg: var(--c-danger-bg),
      text: var(--c-danger-text)
    )
  );

  @mixin alert-style($color) {
    border-color: map-get($color, border);
    background-color: map-get($color, bg);
    color: map-get($color, text);
  }

  @each $alert, $colors in $alert-colors {
    .#{$alert} {
      @include alert-style($colors);
    }
  }
  .details {
    display: block;
    position: relative;
    border-radius: 2px;
    margin: 1.6em 0;
    padding: 1.6em;
    border: none;
    background-color: var(--c-details-bg);
    overflow: hidden;
    transition: height 0.3s ease-out;
    &[open] {
      height: auto;
    }
    .custom-container-title {
      margin: 0;
    }
    p {
      margin-bottom: 0;
    }
  }

  blockquote {
    color: var(--c-blockquote-c);
    border-radius: 2px;
    padding: 10px 16px;
    background-color: var(--c-blockquote-b);
    position: relative;
    border-left: none;
    margin: 1rem 0;
    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 4px;
      left: 0;
      top: 0;
      height: 100%;
      background-color: var(--c-blockquote-bef);
      border-radius: 2px;
    }
    p {
      margin: 0;
    }
  }


  table {
    text-align: left;
    border-collapse: collapse;
    margin: 1rem 0;
    display: block;
    overflow-y: auto;
    transition: border-color var(--t-color);
    thead,
    tbody {
      background-color: var(--c-bg);
    }
    th,
    td {
      padding: 0.6em 1em;
      border: 1px solid var(--c-border-dark);
      transition: border-color var(--t-color);
      // background-color: var(--c-bg);
    }

    th {
      display: table-cell;
      vertical-align: inherit;
      font-weight: bold;
    }
    tr {
      border-top: 1px solid var(--c-border-dark);
      transition: border-color var(--t-color);
      &:nth-child(2n) {
        background-color: var(--c-bg-light);
      }
    }

    &::-webkit-scrollbar {
      width: 14px;
      height: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--c-border-dark);
      border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--c-border);
      border-radius: 0px;
    }
  }
}
